.container-fluid
  - if logged_in?
    = render 'form', tweet: @tweet
  .row.d-flex.justify-content-center.mb-2
    .col-12.col-sm-10.col-md-8.col-lg-7
      ul.list-group.mt-2
        - @tweets.each do |tweet|
          li.list-group-item
            .media
              .media.align-self-start.mr-3
                p.image
                  = image_tag tweet.user.avatar.variant(combine_options:{resize:"64x64^",crop:"64x64+0+0",gravity: :center}).processed
              .media-body
                strong= link_to tweet.user.username , tweet.user
                p.media= tweet.tweet
                - if logged_in? && current_user.id == tweet.user_id
                  = link_to edit_tweet_path(tweet), class: "level-item" do
                    span.icon
                      i.fa.fa-pencil aria-hidden="true" 
                  = link_to tweet, method: :delete, data: { confirm: t('.confirm_delete') } do
                    span.icon
                      i.fa.fa-trash-o aria-hidden="true" 
                span.level-item.likes.data
                  span id="like-of-#{tweet.id}"
                    = render partial: 'like', locals: { tweet: tweet, likes: @likes }                   
        .pagination.justify-content-end
          = paginate @tweets, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"