@import "bootstrap";
@import "font-awesome";


.container-fluid{
    display: table;
    width: 100%;
    padding: 0px;
}

.row {
  padding: 0px;
  margin: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}


// round images
.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

.fa-heart {
  color: red;
}

.fa-heart:hover {
  color: red;
}

.fa-heart-o {
  color: grey;
}

.fa-heart-o:hover {
  color: red;
}

textarea.form-control {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -webkit-appearance:none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  padding: 5px;
}

.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul{
  margin-left: -1px;
  margin-right: -1px;
}

li{
  position:relative;
}

li .overlay{
  position:absolute;
  left:0; top:0; bottom:0; right:0;
}

li .inner{
  position:relative;
  pointer-events: none;
}

li .inner a {
  pointer-events: all;
}

i.fa.fa-comment {
  pointer-events: all;
}

i.fa.fa-chevron-down {
  pointer-events: all;
}

.modal {
  overflow-y: auto;
}

.vltweet{
  width: 3px;
  background-color: rgb(47, 48, 49);
  height: 100%;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.list-group-tweet {
  position: relative;
  display: block;
  padding: 10px 0px 0px 15px;
}

.list-group-item {
  margin-left : -1px;
  margin-right : -1px;
}

.list-group-tweet:hover {
  background-color: snow;
}

.current:hover {
  background-color: white;
}

.current .media {
  background-color: white;
  font-size: 1.5rem;
}

div.button-tweet {
  margin-top: 10px;
}

.image_col {
  max-width: 49px;
}

.tweet {
  word-break: break-all;
}

$btn-danger-color:#e57373;

.btn-danger {
  color: white;
  background-color: $btn-danger-color;
  border: none;

}

.btn-danger:hover {
  color: white;
  background-color: darken($btn-danger-color, 5%);
  border: none;
}

.btn-danger:focus {
  color: white;
  background-color: $btn-danger-color;
  border: none;
}

.btn-danger:active {
  color: white;
  background-color: darken($btn-danger-color, 5%);
  border: none;
}

$btn-success-color:#4db6ac;

.btn-success {
  color: white;
  background-color: $btn-success-color;
  border: none;

}

.btn-success:hover {
  color: white;
  background-color: darken($btn-success-color, 5%);
  border: none;
}

.btn-success:focus {
  color: white;
  background-color: $btn-success-color;
  border: none;
}

.btn-success:active {
  color: white;
  background-color: darken($btn-success-color, 5%);
  border: none;
}
