@import "bootstrap";
@import "font-awesome";

// round images
.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

.fa-heart {
  color: red;
}

.fa-heart:hover {
  color: red;
}

.fa-heart-o {
  color: grey;
}

.fa-heart-o:hover {
  color: red;
}
