@import "bootstrap";
@import "font-awesome";


.container-fluid{
    display: table;
    width: 100%;
    padding: 0px;
}

.row {
  padding: 0px;
  margin: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}


// round images
.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

.fa-heart {
  color: red;
}

.fa-heart:hover {
  color: red;
}

.fa-heart-o {
  color: grey;
}

.fa-heart-o:hover {
  color: red;
}
