// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[id*="profil-info-"] {
  margin-left : -1px;
  margin-right : -1px;
}

.nav-item.nav-link {
  margin-left: -1px;
  margin-right : -1px;
  margin-bottom: -1px;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius:0px;

  &:hover {
    background: lighten(#bbdefb, 10%);
  }

  @media (min-width: 992px) {
    margin-left: 0px;
  }
}
